Import libraries

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Read csv file

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_files/student_dataset.csv')
df

    ID      Name  Marks  Subject Grade
0    1      Alex   85.0     Math     A
1    2      Emma   78.0  Science     B
2    3      Liam   90.0     Math     A
3    4    Sophia   65.0  English     C
4    5      Noah   88.0  Science     A
5    6       Mia   72.0     Math     B
6    7     James   60.0  English     C
7    8    Olivia   95.0  Science     A
8    9     Ethan    NaN     Math     B
9   10     Emily   70.0  English     B
10  11      Alex   85.0     Math     A
11  12      Emma   78.0  Science     B
12  13     Lucas   55.0     Math     C
13  14    Amelia   92.0  Science     A
14  15    Daniel   68.0  English     C
15  16     Grace   75.0     Math     B
16  17  Benjamin   80.0  Science     B
17  18     Chloe    NaN  English     B
18  19     Ethan   66.0     Math     B
19  20  Isabella   89.0  Science     A

In [7]:
df.loc[df['Marks']<60 ]

    ID   Name  Marks Subject Grade
12  13  Lucas   55.0    Math     C