Import libraries

In [6]:
import pandas as pd

In [7]:
x = [1,2,3,4,5]

In [8]:
pd.Series(x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series(x, index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
data = {'name': ['a', 'b', 'c'], 'marks':[1,2,3]}
df = pd.DataFrame(data)
display(df)
display(data)

  name  marks
0    a      1
1    b      2
2    c      3

{'name': ['a', 'b', 'c'], 'marks': [1, 2, 3]}

In [11]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
s1.add(s2)

0     7
1     9
2    11
3    13
4    15
dtype: int64

1) read dataset using read_csv
2) use .head(), .tail(), .sample()
3) display first 3 rows
4) convert the 3 rows data to csv file using to_csv()
5) create a new column by adding your existing columns
6) observe data using isnull(), info(), describe()
7) use loc an iloc to filter the rows and columns
8) use value_counts()
9) use isin() return true or false
10) upload a files in Github name repo: numpy and pandas: upload our files with your data, add readme also which explains what have to done(public)

Read csv file

In [12]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_files/student_dataset.csv')
df

    ID      Name  Marks  Subject Grade
0    1      Alex   85.0     Math     A
1    2      Emma   78.0  Science     B
2    3      Liam   90.0     Math     A
3    4    Sophia   65.0  English     C
4    5      Noah   88.0  Science     A
5    6       Mia   72.0     Math     B
6    7     James   60.0  English     C
7    8    Olivia   95.0  Science     A
8    9     Ethan    NaN     Math     B
9   10     Emily   70.0  English     B
10  11      Alex   85.0     Math     A
11  12      Emma   78.0  Science     B
12  13     Lucas   55.0     Math     C
13  14    Amelia   92.0  Science     A
14  15    Daniel   68.0  English     C
15  16     Grace   75.0     Math     B
16  17  Benjamin   80.0  Science     B
17  18     Chloe    NaN  English     B
18  19     Ethan   66.0     Math     B
19  20  Isabella   89.0  Science     A

In [13]:
display(df.head())
display(df.tail())
display(df.sample())

   ID    Name  Marks  Subject Grade
0   1    Alex   85.0     Math     A
1   2    Emma   78.0  Science     B
2   3    Liam   90.0     Math     A
3   4  Sophia   65.0  English     C
4   5    Noah   88.0  Science     A

    ID      Name  Marks  Subject Grade
15  16     Grace   75.0     Math     B
16  17  Benjamin   80.0  Science     B
17  18     Chloe    NaN  English     B
18  19     Ethan   66.0     Math     B
19  20  Isabella   89.0  Science     A

    ID    Name  Marks  Subject Grade
13  14  Amelia   92.0  Science     A

In [14]:
display(df.head(3))

   ID  Name  Marks  Subject Grade
0   1  Alex   85.0     Math     A
1   2  Emma   78.0  Science     B
2   3  Liam   90.0     Math     A

In [15]:
three_rows = df.head(3)
three_rows.to_csv('first_3_rows.csv', index=False)
print("First 3 rows saved to 'first_3_rows.csv'")

First 3 rows saved to 'first_3_rows.csv'

In [16]:
df['Total_Score'] = df['ID'] + df['Marks']
display(df.head())

   ID    Name  Marks  Subject Grade  Total_Score
0   1    Alex   85.0     Math     A         86.0
1   2    Emma   78.0  Science     B         80.0
2   3    Liam   90.0     Math     A         93.0
3   4  Sophia   65.0  English     C         69.0
4   5    Noah   88.0  Science     A         93.0

In [17]:
display(df.isnull())
display(df.info())
display(df.describe())

       ID   Name  Marks  Subject  Grade  Total_Score
0   False  False  False    False  False        False
1   False  False  False    False  False        False
2   False  False  False    False  False        False
3   False  False  False    False  False        False
4   False  False  False    False  False        False
5   False  False  False    False  False        False
6   False  False  False    False  False        False
7   False  False  False    False  False        False
8   False  False   True    False  False         True
9   False  False  False    False  False        False
10  False  False  False    False  False        False
11  False  False  False    False  False        False
12  False  False  False    False  False        False
13  False  False  False    False  False        False
14  False  False  False    False  False        False
15  False  False  False    False  False        False
16  False  False  False    False  False        False
17  False  False   True    False  False         True
18  False  False  False    False  False        False
19  False  False  False    False  False        False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           20 non-null     int64
 1   Name         20 non-null     object
 2   Marks        18 non-null     float64
 3   Subject      20 non-null     object
 4   Grade        20 non-null     object
 5   Total_Score  18 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.1+ KB

None

             ID      Marks  Total_Score
count  20.00000  18.000000    18.000000
mean   10.50000  77.277778    87.444444
std     5.91608  11.676047    12.509865
min     1.00000  55.000000    67.000000
25%     5.75000  68.500000    80.000000
50%    10.50000  78.000000    88.000000
75%    15.25000  87.250000    95.250000
max    20.00000  95.000000   109.000000

Using loc to get specified data

In [18]:
display(df.loc[0])

ID                1
Name           Alex
Marks          85.0
Subject        Math
Grade             A
Total_Score    86.0
Name: 0, dtype: object

In [19]:
display(df.loc[[0, 1, 2]])

   ID  Name  Marks  Subject Grade  Total_Score
0   1  Alex   85.0     Math     A         86.0
1   2  Emma   78.0  Science     B         80.0
2   3  Liam   90.0     Math     A         93.0

In [20]:
display(df.loc[0:4, ['Name', 'Marks']])

     Name  Marks
0    Alex   85.0
1    Emma   78.0
2    Liam   90.0
3  Sophia   65.0
4    Noah   88.0

In [21]:
display(df.iloc[0])

ID                1
Name           Alex
Marks          85.0
Subject        Math
Grade             A
Total_Score    86.0
Name: 0, dtype: object

In [22]:
display(df.iloc[0:3])

   ID  Name  Marks  Subject Grade  Total_Score
0   1  Alex   85.0     Math     A         86.0
1   2  Emma   78.0  Science     B         80.0
2   3  Liam   90.0     Math     A         93.0

### Picking Both Rows and Columns by Position

In [23]:
print("Selecting first 5 rows and first 3 columns")
display(df.iloc[0:5, 0:3]) # 0:5 for rows (0,1,2,3,4), 0:3 for columns (0,1,2)

Selecting first 5 rows and first 3 columns

   ID    Name  Marks
0   1    Alex   85.0
1   2    Emma   78.0
2   3    Liam   90.0
3   4  Sophia   65.0
4   5    Noah   88.0